.artist_all {
  display: flex;
  flex-direction: row;

}

.artist_title {
  color: white;
}

.artist_photo_and_desc {
  display: flex;
  flex-direction: row;
}

.artist_blabla {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  margin: 2% 10% 2% 10%;
  color: white;
}

.amo_exemples {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

/***images***/
.artist_pic {
  height: 61vh;
  width: 50vw;
  margin-left: 60px;
}

.amo_ex {
  height: 33vh;
  width: 20vw;

}