.location_title {
  font-size: 2vw;
  color: white;
  padding-top: 10vh;
  font-family: "Permanent Marker", cursive;

}

.location_text {
  color: white;

}

.location-map {
  text-decoration: none;
  color: #a92233;
  font-family: "Permanent Marker", cursive;
  font-size: 3vh;
}