.admin_title {
  color: white;
  font-family: "Permanent Marker", cursive;
  font-size: 2vw
}

.admin_card {
  color: black;
  display: flex;
  justify-content: space-around;
}

.admin_test {
  display: flex;
  flex-direction: row;
  background: linear-gradient(#a92233, #ff6666);
  justify-content: space-around;
}

.admin_admin {
  margin: 30px
}