.home {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./../../style/assets/chapiteau.jpg") !important;
  position: relative;
  display: flex;
  flex-direction: row;
}

.home_image {
  width: 100%;
  height: 100vh;
}

.home_button {
  position: absolute;
  color: black;
  height: 20%;
  font-size: 6vh;
  font-family: "Permanent Marker", cursive;
}

.home.bk {
  position: absolute;
  z-index: 1;
}

.home_click {
  position: absolute;
  top: 360px;
  width: 600px;
  height: 250px;
  z-index: 2;
  margin-left: 50%;
  background-color: white;
  border-radius: 142px;
}