.home_title {
  background-repeat: no-repeat;
  background-size: cover;

}

.home_image {
  width: 100%;
  height: auto;

}

.home_button {
  color: white;
  height: 20%;
  font-size: 6vh;
  background-color: grey
}

.home.bk {
  position: absolute;
  z-index: 1
}

.home_click {
  position: absolute;

  top: 360px;
  width: 600px;
  height: 400px;
  z-index: 2;
  margin-left: 23%
}

.home_button {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}